.loginView{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}


h1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.borderExt{
  border-style: groove;
  border-width: thin;
  border-color: #C5B18B;
  margin: 1.2% 3%;
  padding: 2%;
  width: 100%;
  }
  
  .mainContainer{
    border-style: groove;
    border-width: thin;
    border-color: #C5B18B;
    text-align: center;
  }

  .burgerBackground{
    opacity: 0.13;
    height: 50%;
    width: 50%;
  }

  .title{
    font-size: 50px; 
 font-family: 'Telex', sans-serif;
 letter-spacing: 1vh;
 margin-top: -48%;
    padding: 5%
  }

  .btnsLoginView{
    display: inline-grid;
    justify-items: stretch;
    margin-bottom: 10%;
  }

  .holaContainer{
    background-color: hotpink;
  }

  .btnGoogle{
    border-style: groove;
    border-width: thin;
    border-color: white;
    height: 8vh;
    width: 40vh;
    padding: 18px 0;
    color: white;
    background-color: #393535;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 6%;
    opacity: 0.4;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size:medium;
  }
.btnGoogle:hover{
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgb(143, 172, 49);
  transition: all 0.2s ease;
}
    .btnGoogle img{
      height:60%;
      padding-right: 7% ;
    }
    

  .btnLogout{
    border-style: groove;
    border-width: thin;
    border-color: white;
    height: 8vh;
    width: 40vh;
    padding: 10px 0;
    color: white;
    background-color: #393535;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 4%;
    opacity: 0.4;
   font-family: 'DM Sans', sans-serif;
   font-weight: bold;
   font-size:medium;
    
  }