

.loginView{
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.provider{
    border:none;
    width: 300px;
    padding: 10px 0;
    color: gray;
    background-color: beige;
    border-radius: 3px;
    text-align: center;
}


.borderExt{
    border-style: groove;
    border-width: thin;
    border-color: #C5B18B;
    margin: 1.2% 3%;
    padding: 2%;
    width: 100%;

  }
  
  .mainContainer{
    border-style: groove;
    border-width: thin;
    border-color: #C5B18B;
    text-align: center;

  }

  .tablesContainer{
    
    display: flex;
  
  }

  .col{
    border-style: groove;
    border-width: thin;
    padding: 2% 3%;
    border-color: #C5B18B;
  }

  .date{ 
    border-style: groove;
    border-width: thin;
    padding: 2.5% 3%;
    width: 28%;
    border-color: #C5B18B;
  }

  .mainFoodContent{
    height: 68vh;
  }

  .mealBtns{
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1%;
    
    
  }
  .btnBreakfast{
    border:none;
    width: 30vh;
    height: 6vh;
    color: white;
    background-color: #C06014;
    text-align: center;
    margin: 4%;
    font-family: 'Telex', sans-serif;
    letter-spacing: 0.3vh;
  }

  .btnLunch{
    border:none;
    width: 30vh;
    height: 6vh;
    padding: 10px 0;
    color: white;
    background-color: #C06014;
    font-family: 'Telex', sans-serif;
    text-align: center;
    margin: 4%;
    letter-spacing: 0.3vh;
  }

  .typeOfMealsBtns{
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
  }
  .btnDrinks{
    border:none;
    width: 20vh;
    height: 6vh;
    padding: 10px 0;
    color: white;
    background-color: #C06014;
    text-align: center;
    margin: 4%;
    font-family: 'Telex', sans-serif;
    letter-spacing: 0.3vh;

  }

  .btnSandwiches {
    border:none;
    width: 20vh;
    height: 6vh;
    padding: 10px 0;
    color: white;
    background-color: #C06014;
    font-family: 'Telex', sans-serif;
    text-align: center;
    margin: 4%;
    letter-spacing: 0.3vh;
  }

  .mainMenuContent{
    /*background-color: purple;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 55%;
    margin-top: 20px;
   
  }
  .menuContainer{
    background-color: white;
    height: 90%;
    width: 65%;
    display: flex;
    flex-direction: column;
  }

.receipt{
    background-color: white;
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
}

.receiptTitle{
    color: #353434;
    font-size: 1vh;
    font-family: 'Telex', sans-serif;
    font-weight: 100;
}

.btnLogout{
  border-style: groove;
  border-width: thin;
  border-color: white;
  height: 5vh;
  width: 10vh;
  padding: 10px 0;
  color: white;
  background-color: #6F6464;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 4%;
  opacity: 0.6;
 font-family: 'DM Sans', sans-serif;
 font-weight: bold;
 font-size:small;

  
}