

.loginView{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.provider{
    border:none;
    width: 300px;
    padding: 10px 0;
    color: gray;
    background-color: beige;
    border-radius: 3px;
    text-align: center;
}


.borderExt{
    border-style: groove;
    border-width: thin;
    border-color: #C5B18B;
    margin: 1.2% 3%;
    padding: 2%;
    width: 100%;

  }
  
  .mainContainer{
    border-style: groove;
    border-width: thin;
    border-color: #C5B18B;
    text-align: center;

  }

  .tablesContainer{
    display: flex;
    flex-direction: row;
  }

  .col{
    height: 8vh;
    width: 15vh;
    border-style: groove;
    border-width: thin;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Telex', sans-serif;
    border-color: #C5B18B;
  }

  .date{ 
    border-style: groove;
    border-width: thin;
    height: 8vh;
    width: 78vh;
    border-color: #C5B18B;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .mainFoodContent{
    height: 68vh;
    margin-bottom: -6.5vh;
  }

  .mealBtns{
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1%;
    
    
  }
  .btnBreakfast{
    border:none;
    width: 30vh;
    height: 6vh;
    color: white;
    background-color: #C06014;
    text-align: center;
    margin: 4%;
    font-family: 'Telex', sans-serif;
    letter-spacing: 0.3vh;
  }

  .btnLunch{
    border:none;
    width: 30vh;
    height: 6vh;
    padding: 10px 0;
    color: white;
    background-color: #C06014;
    font-family: 'Telex', sans-serif;
    text-align: center;
    margin: 4%;
    letter-spacing: 0.3vh;
  }

  .typeOfMealsBtns{
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
  }
  .btnDrinks{
    border:none;
    width: 20vh;
    height: 6vh;
    padding: 10px 0;
    color: white;
    background-color: #C06014;
    text-align: center;
    margin: 4%;
    font-family: 'Telex', sans-serif;
    letter-spacing: 0.3vh;

  }

  .btnSandwiches {
    border:none;
    width: 20vh;
    height: 6vh;
    padding: 10px 0;
    color: white;
    background-color: #C06014;
    font-family: 'Telex', sans-serif;
    text-align: center;
    margin: 4%;
    letter-spacing: 0.3vh;
  }

  .mainMenuContent{
    /*background-color: purple;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 55%;
    margin-top: 20px;
    
   
  }
  .menuContainer{
    background-color: white;
    height: 111%;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-top: -1%;
    color: black;
  }

  .foodContainer{
    background-color: #C06014;
    border-color: purple;
  }

  h2{
    color: black;
  }

  h3{
    color: black;
    font-size: 1.9vh;
    text-align: left;
    margin-left: 20px;
  }
.receipt{
    background-color: white;
    height: 111%;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    margin-top: -1%;
    font-size: 60%;
    font-family: 'DM Sans', sans-serif;
}


img{
  height: 8vh;

}

p{
 color: white;
 font-family: 'DM Sans', sans-serif;
font-weight: 800;
font-size: medium;
padding: 0 12%;
}

.foodPicsContainer{
  background-color: #000000;
  height: 75%;
  width: 21%;
  display: inline-flex;
  margin-top: 8%;
  justify-content: center;
  margin-right: 2%;
}

.img{
  height: 10%;
  width: 12%;
  background-color: #C06014;
}

.price{
  margin-top:9%;
}

.calculator{
  height: 100%;
}

.receiptBtns{
  display:flex;
  justify-content: space-around;
}
.btnLogout{
  border-style: groove;
  border-width: thin;
  border-color: white;
  height: 5vh;
  width: 12vh;
  padding: 10px 0;
  color: rgb(255, 255, 255);
  background-color: #060606;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 2%;
 font-family: 'DM Sans', sans-serif;
 font-weight: bold;
 font-size:small;
}

footer{
  height: 6vh;

}
.btnLogoutGoogle{
  border-style: groove;
  border-width: thin;
  height: 5vh;
  width: 10vh;
  padding: 10px 0;
  color: white;
  background-color: #6F6464;
  border-radius: 3px;
  text-align: center;
  opacity: 0.6;
 font-family: 'DM Sans', sans-serif;
 font-weight: bold;
 font-size:small;
 float: right;
 margin-right: 2vh;
 margin-top: -1vh;
}